.navbar {
	.inner {
		.navbutton {
			&:hover {
				background-color: rgb(42, 42, 42);
				color: rgb(199, 199, 199);
				cursor: pointer;
			}
			&[active-page=true] {
				background-color: rgb(223, 223, 223);
				color:black;
			}
			padding: 10px;
			user-select: none;
		}
		display: flex;
		justify-content: space-around;
		min-width: 300px;
		align-items: center;
	}
	.logowrapper {
		padding: 10px;
		font-size: 17px;
	}
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: black;
	margin: -8px;
	position: fixed;
	font-size: 13px;
	z-index: 100000000000;
}